<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <main>
        <div class="profile">
            <div class="profile-avatar"></div>
            <p><%= username %></p>
            <div class="profile-details">
                <p class="upload-profile">Profile picture</p>
                <p style="margin-top: 10px;" ><%= email %></p>
                <p style="margin-top: 10px; margin-bottom: 10px;"><%= fullname %></p>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="new-profile-pic">
            <form action="/" method="POST" enctype="multipart/form-data">
                <input type="file" name="profile-pic" id="profile-pic">
                <button class="submit-upload" style="margin-top: 15px;" type="submit">Upload</button>
            </form>
        </div>
        <section class="logo">
            <img src="assets/logo.png" alt="logo">
            <h1>SMART STUDY HUB</h1>
        </section>
        <section class="avg-score">
            <h4>Average Score</h4>
            <h4><%= avgScore %></h4>
        </section>
        <section class="search-subject">
            <form action="/" method="POST">
                <select name="subject" id="subject">
                    <option value="0">Select Subject</option>
                    <option value="Math">Math</option>
                    <option value="Physics">Physics</option>
                    <option value="Biology">Biology</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Computer">Computer Science</option>                               
                </select>
                <select name="form" id="fom">
                    <option value="0">Select Form</option>
                    <option value="1">Form 1</option>
                    <option value="2">Form 2</option>
                    <option value="3">Form 3</option>
                    <option value="4">Form 4</option>
                </select>
                <select name="quizes" id="quizes">
                    <option value="0">Select Number of Questions</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
                <button type="submit">Start Quiz</button>
            </form>
        </section>
    </main>
    <script src="js/script.js"></script>
</body>
</html>