<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <main class="main-container">
        <div class="back-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m7.825 13l5.6 5.6L12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2z"/></svg>
        </div>
        <div class="questions">
            <form action="" method="post">
                <% for(let index = 0; index < data.length; index++) { %>
                    <div class="question">
                        <% if (data[index]) { %>
                            <p><%= index + 1 %>. <%= data[index].question %></p>
                            <div class="options">
                                <input type="radio" name="question<%= index %>" value="<%= data[index].options[0] %>">
                                <label for="option1"><%= data[index].options['a'] %></label>
                            </div>
                            <div class="options">
                                <input type="radio" name="question<%= index %>" value="<%= data[index].options[1] %>">
                                <label for="option2"><%= data[index].options['b'] %></label>
                            </div>
                            <div class="options">
                                <input type="radio" name="question<%= index %>" value="<%= data[index].options[2] %>">
                                <label for="option3"><%= data[index].options['c'] %></label>
                            </div>
                            <div class="options">
                                <input type="radio" name="question<%= index %>" value="<%= data[index].options[3] %>">
                                <label for="option4"><%= data[index].options['d'] %></label>
                            </div>
                        <% } %>
                    </div>
                <% } %>                
                <button type="submit">Submit</button>
            </form>
        </div>
        
        </div>
    </main>
    <script src="js/script.js"></script>
</body>
</html>